@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


:root {

  --banner: rgb(49, 54, 63);
  --color2: #AD88C6;
  --siteBg: rgb(118, 171, 174);
  --logoText: #FFE6E6;
}

#root {
    height: 100dvh;
    width: 100dvw;
    overflow-y: hidden;

  }

  #MTKlogo {

    height:79%;
    width:auto;
    object-fit:contain;
  }

  .courgette-regular {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-style: normal;
  }

  #onlyVisibleMobile {
    display: none;
  }
  .profile-dropdown {
    position: absolute;
  }

  .hidden {
    display: none;
  }

  #leftHome {
    box-sizing: border-box;
    border:2px dotted black;
    width:8%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #blockSpacer {
    box-sizing: border-box;
    border:3px solid green;
    width: 92%;
    height:100%;
    display:flex;
    justify-content: center;
    padding-right:8%;
  }

  #centerLogo {
    box-sizing: border-box;
    /* border:3px solid red; */
    width: 17%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:4dvh;
    color:var(--logoText);
  }

  #Navigation {
    box-sizing: border-box;

    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    background-color: var(--banner);
  }

  #homeWrapper {
    box-sizing: border-box;
    border: 4px solid blue;
    width: 100%;
    height: 78%;
    overflow-y: hidden;
    background-color: var(--siteBg);
    display:flex;
    flex-direction:column;
}

#buttonsContainer {
  box-sizing: border-box;
  border:2px dotted yellow;
  width:100%;
  height:9%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to bottom, var(--banner) 0%, var(--siteBg) 158%);
}

#buttonsContainer2 {
  box-sizing: border-box;
  border: 2px dotted green;
  width: 38%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
